__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
env/

# Packaging
build/
dist/
*.egg-info/

.ipynb_checkpoints/

.vscode/
.idea/

.env
.env.*

data/
datasets/

runs/
wandb/
mlruns/

# Model weights
*.pt
*.pth
*.onnx


outputs/
results/
predictions/

*.mp4
*.avi
*.mov


.DS_Store
Thumbs.db